.menuflex{
    display: flex;
    justify-content: space-around;
}

.stickyMenu{
    max-width: 480px;
}

.menuDiv{
    background-color: #73ADD8;
    height: 8.5vh;
    width: 33.1%;
    max-width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.fixedMenu{
    max-width: 480px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.menuBody{
    position: fixed;
    top: 0;
    height: 91.5vh;
    width: 100vw;
    opacity: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.items{
    height: 24%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(104, 124, 103, 0.16);
}

.icon-style-heart{
    font-weight:700 !important;
    color:#ff0000 !important;
    font-size:40px !important;

}

.icon-style-person{
    font-weight:700 !important;
    color:#555555 !important;
    font-size:40px !important;

}

.icon-style-faq{
    font-weight:700 !important;
    color:#1870d5 !important;
    font-size:40px !important;

}

.icon-style-about{
    font-weight:700 !important;
    color:#357a38 !important;
    font-size:40px !important;

}

.icon-style-footer{
    font-weight:700 !important;
    color:#000000 !important;
    font-size:50px !important;

}