.menuflex{
    display: flex;
    justify-content: space-around;
}

.stickyMenu{
    max-width: 480px;
}

.menuDiv{
    background-color: #73ADD8;
    height: 8.5vh;
    width: 33.1%;
    max-width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}