.menuflex {
    display: flex;
    justify-content: space-around;
}

.header {
    background-color: #73ADD8;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
}
.headerBack{
    position : absolute;
    left : 5px;
    top : 1.25vh;
}
.w60{
    width: 60%;
}
.w20{
    width: 30%!important;
}