.introSection{
    padding-top: 2vh;
    height: 35vh;
    font-size: 2.25rem;
    padding: 20px;
}
.pd{
    padding-top: 4vh;
}
.actions{
    display: flex;
    height: 15.67vh;
    background-color: blue;
    justify-content: space-between;
    font-size: 2rem;
    align-items: center;
    background: rgba(104, 124, 103, 0.16);
    padding: 20px;
    margin-bottom: 0.5vh;
}